/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

/* It would be nice to figure out how to store this locally */
@import url('https://fonts.googleapis.com/icon?family=Roboto');

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
.app{
  height: 100vh;
}
mat-toolbar {
  z-index: 10;
}

/*
Override the padding (24px) in MatDialog since it is impossible to get rid of it in our own components.
Components wanting this padding should introduce it again
 */
.mat-dialog-container {
  padding: 0 !important;
}

/* If we change the theme, we need to update these */
$primary-colour: #3F51B5!important;
$accent-colour: #FF4081!important;
$primary-colour-light: #757de8!important;
$accent-colour-light: ff79b0!important;
$white-text: #FFF!important;
$black-text: rgba(0,0,0,.87)!important;
.primary-color {
  color: $primary-colour;
}
.accent-color {
  color: $accent-colour;
}
.background-primary-color {
  background-color: $primary-colour;
}
.background-accent-color {
  background-color: $accent-colour;
}
.white-text {
  color: $white-text;
}

/* Styling of the general components */
.component-header {
  margin-top: 0px;
  background-color: $primary-colour;
  color: $white-text;
  padding-left: 25px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.component-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.space-filler {
  flex-grow: 1;
}

.card-tooltip {
  white-space: pre-line;
  font-size: 12px;
}

.nowrap-hidden {
  white-space: nowrap;
  overflow: hidden
}

.calculated-width-font {
  /** Used for divs where we need to calculate the width */
  font-kerning: none;
  font-variant-ligatures: none;
  text-rendering: optimizeSpeed;
  /* For some reason Safari does not calculate the proper width for the Roboto font (unless you do a reload), so use a system font instead */
  font-family: Arial;
}

@mixin sized-icon-button-class($size, $font-size, $line-height) {
  min-width: $size;
  max-width: $size;
  height: $size;
  line-height: $line-height;
  min-height: $size;
  font-size: $font-size;
  padding: 0;
  margin: 0;
}


