<div *ngIf="visible">
  <div
    class="swimlane-header header-colour"
    (click)="onToggleCollapsedSwimlane($event, swimlane.key)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    [ngClass]="classObj"
  >
    <span
      class="header-icon"
      style="display: flex"
      [style.margin-left.px]="headerTextOffset">
      <mat-icon
        *ngIf="swimlane.collapsed"
      >chevron_right</mat-icon>
      <mat-icon
        *ngIf="!swimlane.collapsed"
      >keyboard_arrow_down</mat-icon>
      <span class="mat-h4">
        {{swimlane.display}}
        <span *ngIf="swimlane.linkName">
          - <a href="{{swimlane.linkUrl}}"
               (click)="onClickLink($event)"
               [ngClass]="classObj"
               target="_blank">{{swimlane.linkName}}</a>
        </span>
      </span>
    </span>
  </div>
  <div
    class="swimlane-content"
  >
    <app-kanban-view-column-group
      *ngFor="let header of headers.headersList ; trackBy: columnTrackByFn"
      [header]="header"
      [table]="swimlane.table"
      [scrollPositionObserver$]="adjustedScrollPositionObserver$"
      [issueDetailState]="issueDetailState"
      [displayIssues]="!swimlane.collapsed"
      [rankOrdersByProject]="rankOrdersByProject"
      (updateParallelTask)="onUpdateParallelTask($event)"
    ></app-kanban-view-column-group>
  </div>
</div>
