<div *ngIf="visible">
  <div
    class="swimlane-header header-colour"
    (click)="onToggleCollapsedSwimlane($event, swimlane.key)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    [ngClass]="classObj"
  >
    <span
      class="header-icon"
      style="display: flex"
      [ngStyle]="{'margin-left': headerTextOffset + 'px'}">
      <mat-icon
        *ngIf="swimlane.collapsed"
      >chevron_right</mat-icon>
      <mat-icon
        *ngIf="!swimlane.collapsed"
      >keyboard_arrow_down</mat-icon>
      <span class="mat-h4">{{swimlane.display}}</span>
    </span>
  </div>
  <div
    class="swimlane-content"
  >
    <app-kanban-view-column-group
      *ngFor="let header of board.headers.headersList ; trackBy: columnTrackByFn"
      [header]="header"
      [issues]="board.issueTable.issues"
      [table]="swimlane.table"
      [displayIssues]="!swimlane.collapsed"
    ></app-kanban-view-column-group>
  </div>
</div>
