<div *ngIf="visible">
  <div
    class="swimlane-header header-colour"
    (click)="onToggleCollapsedSwimlane($event, swimlane.key)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    [ngClass]="classObj"
  >{{swimlane.display}}</div>
  <div
    class="swimlane-content"
    *ngIf="!swimlane.collapsed"
  >
    <app-kanban-view-column-group
      *ngFor="let header of board.headers.headersList ; trackBy: columnTrackByFn"
      [header]="header"
      [issues]="board.issueTable.issues"
      [table]="swimlane.table"
    ></app-kanban-view-column-group>
  </div>
</div>
