@import "../../../../../../styles";

.swimlane-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30px;
  max-height: 30px;
  border-bottom: 1px solid $primary-colour;
  cursor: pointer;
}
.header-colour {
  background-color: white;
  color: $primary-colour;
}
.header-colour-hover {
  background-color: $primary-colour;
  color: white;
}
.swimlane-content {
  display: flex;
}
.mat-h4 {
  margin: 0px;
  white-space: nowrap;
}
.header-icon {
  @include sized-icon-button-class(24px, 15px, 24px)
}

