@import "../../../../../../styles";

.swimlane-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30px;
  max-height: 30px;
  border-bottom: 1px solid $primary-colour;
  cursor: pointer;
}
.header-colour {
  background-color: white;
  color: $primary-colour;
}
.header-colour-hover {
  background-color: $primary-colour;
  color: white;
}
.swimlane-content {
  display: flex;
}
.mat-h4 {
  margin: 0px;
}
.header-icon {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  line-height: 24px;
  min-height: 24px;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

