<div (window:focus)="onFocus($event)" (window:blur)="onBlur($event)" (window:resize)="onResize($event)">
  <app-kanban-view
    *ngIf="view === 'kbv'"
    [headers]="headers$ | async"
    [issueTable]="issueTable$ | async"
    [windowWidth]="windowWidth"
    [windowHeight]="windowHeight">
  </app-kanban-view>
  <app-rank-view
    *ngIf="view === 'rv'"
    [headers]="headers$ | async"
    [windowWidth]="windowWidth"
    [windowHeight]="windowHeight">
  </app-rank-view>
</div>
<button id="temp-control-button" (click)="onToggleControlPanel($event)">*</button>
<app-control-panel *ngIf="showControlPanel"></app-control-panel>
