<div (document:visibilitychange)="onDocumentVisiblityChange($event)" (window:resize)="onWindowResize($event)">
  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="over" #settings
                class="drawer-settings"
                position="end"
                (openedStart)="onOpenSettings()"
                (openedChange)="onCompleteSettingsToggle($event);">
      <div>Hello Rostislav :)</div>
      <div *ngIf="openingSettings || settingsOpen">Next step is to move the contol panel here</div>
    </mat-drawer>
    <div id="board-outer">
      <div id="board-inner">
        <app-kanban-view
          *ngIf="(userSettings$ | async).viewMode === enumViewMode.KANBAN"
          [board]="board$ | async"
          [windowWidth]="windowWidth"
          [windowHeight]="windowHeight"
          (toggleColumnVisibility)="onToggleVisibility($event)"
          (toggleBacklog)="onToggleBacklog($event)"
          (toggleCollapsedSwimlane)="onToggleCollapsedSwimlane($event)"
        >
        </app-kanban-view>
        <app-rank-view
          *ngIf="(userSettings$ | async).viewMode === enumViewMode.RANK"
          [board]="board$ | async"
          [windowWidth]="windowWidth"
          [windowHeight]="windowHeight">
        </app-rank-view>
      </div>
    </div>

  </mat-drawer-container>
</div>
<button *ngIf="!settingsOpen"
        mat-fab color="accent"
        (click)="settings.open('mouse'); "
        class="settings-icon">
  <mat-icon >settings</mat-icon>
</button>
<button *ngIf="settingsOpen"
        mat-fab color="accent"
        (click)="settings.close('mouse');"
        class="settings-icon">
  <mat-icon>clear</mat-icon>
</button>
<button id="temp-control-button" (click)="onToggleControlPanel($event)">*</button>
<button id="temp-switch-view-button" (click)="onSwitchViewMode($event)">~</button>
<app-control-panel
  *ngIf="showControlPanel"
  [userSettings]="userSettings$ | async"
></app-control-panel>
