@import "../../../styles";

table.board {
  border-collapse: collapse;
  border: 1px black solid;
}
td.cell {
  border: 1px black solid;
}
td.visible {
  min-width: 200px;
  max-width: 200px;
}

#temp-control-button {
  width: 30px;
  height: 30px;
  z-index: 10;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 25px;
  padding: 3px;
}
#temp-switch-view-button {
  width: 30px;
  height: 30px;
  z-index: 10;
  position: fixed;
  bottom: 10px;
  left: 50px;
  font-size: 25px;
  padding: 3px;
}


#board-outer {
  background-color: #fff;
  position: absolute;
  top: $toolbar-height;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#board-inner {
  height: 100%;
  overflow: hidden;
}
