@import "../../../styles";
/** Constants for the boards */
$header-container-height: 100px;
$visible-header-width: 200px;
$invisible-header-width: 40px;
$header-border-bottom: solid 2px $primary-colour;
$header-border-bottom-backlog: solid 2px $accent-colour;
$header-border-side: solid 1px white;
