<div (document:visibilitychange)="onDocumentVisiblityChange($event)" (window:resize)="onWindowResize($event)">
  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="over" #settings
                class="drawer-settings"
                position="end"
                (openedStart)="onOpenSettings()"
                (openedChange)="onCompleteSettingsToggle($event);">
      <app-board-settings-drawer
        *ngIf="displaySettingsContent"
        [userSettings]="userSettings$ | async"
        [issueState]="issueState$ | async"
        (switchViewMode)="onSwitchViewMode()"
      ></app-board-settings-drawer>
    </mat-drawer>
    <div id="board-outer">
      <div id="board-inner">
        <app-kanban-view
          *ngIf="(userSettings$ | async).viewMode === enumViewMode.KANBAN"
          [board]="board$ | async"
          [windowWidth]="windowWidth"
          [windowHeight]="windowHeight"
          (toggleColumnVisibility)="onToggleVisibility($event)"
          (toggleBacklog)="onToggleBacklog($event)"
          (toggleCollapsedSwimlane)="onToggleCollapsedSwimlane($event)"
          (updateParallelTask)="onUpdateParallelTask($event)"
        >
        </app-kanban-view>
        <app-rank-view
          *ngIf="(userSettings$ | async).viewMode === enumViewMode.RANK"
          [board]="board$ | async"
          [windowWidth]="windowWidth"
          [windowHeight]="windowHeight"
          (toggleColumnVisibility)="onToggleVisibility($event)"
          (toggleBacklog)="onToggleBacklog($event)"
          (updateParallelTask)="onUpdateParallelTask($event)"
        >
        </app-rank-view>
      </div>
    </div>

  </mat-drawer-container>
</div>

<!-- Open/close settings drawer button -->
<button *ngIf="!settingsOpen"
        mat-fab color="accent"
        (click)="settings.open('mouse'); "
        class="settings-icon">
  <mat-icon >settings</mat-icon>
</button>
<button *ngIf="settingsOpen"
        mat-fab color="accent"
        (click)="settings.close('mouse');"
        class="settings-icon">
  <mat-icon>clear</mat-icon>
</button>

<!-- Open blacklist -->
<button *ngIf="blacklist"
        mat-fab color="warn"
        (click)="onClickBlacklist()"
        class="blacklist-icon">
  <mat-icon>alarm</mat-icon>
</button>
