<div class="root-container">
  <mat-sidenav-container #navigation class="sidenav-container">
    <mat-sidenav mode="over" #navigation class="sidenav-navigation">
      <div style="display: flex; flex-direction: column; width: 100%; height: 100%">
        <mat-toolbar [style.height.px]="toolbarHeight">
          <span class="sidenav-header">Overbård</span>
        </mat-toolbar>
        <mat-nav-list>
          <a *ngFor="let navItem of navItems ; trackBy: navItemTrackByFn"
             mat-list-item
             (click)="navigation.close()"
             routerLinkActive
             [routerLink]="[navItem.route]">
            <mat-icon>{{navItem.icon}}</mat-icon>
            {{navItem.name}}
          </a>
        </mat-nav-list>
        <div class="space-filler"></div>
        <div style="display: flex; flex-direction: column; width: 100%">
          <mat-nav-list>
            <a
              href="{{jiraUrl}}"
              mat-list-item>
              <mat-icon>home</mat-icon>
              Jira
            </a>
            <a
              href="https://github.com/overbaard/overbaard/userguide/README.md"
              mat-list-item>
              <mat-icon>help</mat-icon>
              Help
            </a>
            <mat-list-item>
              <a href="https://github.com/overbaard/overbaard">
                <!-- Need to do a bit of trickery here to fool angular-cli/webpack to use the proper URL -->
                <img src="{{localImageUrl('GitHub-Mark-32px.png')}}" class="gh-link-image">
                GitHub
              </a>
            </mat-list-item>
          </mat-nav-list>
          <mat-list>
            <mat-list-item>
              <div class="mat-caption">Overbård version {{version$ | async}}</div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-sidenav>
    <mat-toolbar color="primary" class="mat-elevation-z10"  [ngStyle]="{'min-height': toolbarHeight, 'max-height': toolbarHeight}">
    <span>
      <button mat-icon-button (click)="navigation.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
      <span>Overbård</span>
    </mat-toolbar>
    <div class="inner-sidenav-content">
      <app-font-measure style="min-width: 0px; max-width: 0px ; overflow: hidden ; position: absolute ; top: 0px; left: 0px; z-index: -10"></app-font-measure>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>

<div class="wait-screen" *ngIf="loading$ | async">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
