@import'../styles';

.root-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sidenav-container {
  height: 100%;
  width: 100%;
}
.sidenav-navigation {
  min-width:220px;
}

.inner-sidenav-content {
  overflow: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:64px;
}
.gh-link-image {
  vertical-align: middle;
  line-height: 24px;
  height: 24px;
  width: 24px;
}


/* Absolute Center Spinner */
.wait-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
}

