<div class="root-container">
  <mat-sidenav-container #navigation class="sidenav-container">
    <mat-sidenav mode="over" #navigation class="sidenav-navigation">
      <div class="flex-container">
        <mat-nav-list fxLayout="column">
          <a *ngFor="let navItem of navItems"
             mat-list-item
             (click)="navigation.close()"
             routerLinkActive
             [routerLink]="[navItem.route]">
            {{navItem.name}}
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-toolbar color="primary" class="mat-elevation-z10"  [ngStyle]="{'min-height': toolbarHeight, 'max-height': toolbarHeight}">
    <span>
      <button mat-icon-button (click)="navigation.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
      <span>Overbård</span>
    </mat-toolbar>
    <div class="inner-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>

<div class="wait-screen" *ngIf="loading$ | async">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
