@import'../styles';

.root-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sidenav-header {
  padding-left: 50px;
  padding-top: 20px;
  color: $primary-colour;
}
.sidenav-container {
  height: 100%;
  width: 100%;
}
.sidenav-navigation {
  min-width:220px;
}

.inner-sidenav-content {
  overflow: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:64px;
}
.gh-link-image {
  vertical-align: middle;
  line-height: 24px;
  height: 24px;
  width: 24px;
}
.logo-container {
  min-height: 40px;
  max-height: 40px;
  padding-top: 6px;
  padding-bottom: 2px;
}
.error-log {
  color: red;
}

/* Absolute Center Spinner */
.wait-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000; /*Dialogs have 1000, so we need to be bigger! */
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
}

