@import'../styles';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
}

.app-header {
  min-height: $toolbar-height;
  max-height: $toolbar-height;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: aquamarine;
}

.wait-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  background-color: grey;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: .9;
  z-index: 1000;
}

