<app-board-headers-container
  [headers]="board.headers"
  [viewMode]="viewMode"
  [boardLeftOffset]="boardLeftOffset"
  (toggleColumnVisibility)="onToggleVisibility($event)"
  (toggleBacklog)="onToggleBacklog($event)"
>
</app-board-headers-container>
<div
  #boardBody
  id="board-body"
  [style.height.px]="boardBodyHeight"
  appScrollListener
  [scrollTopObserver]="scrollTopObserver$"

>
  <app-rank-view-container
    [rankEntries]="board.issueTable.rankView"
    [issueDetailState]="board.issueDetail"
    [topOffsetObserver$]="scrollTopObserver$"
    [flattenedHeaders]="flattenedHeaders"
    [boardBodyHeight]="boardBodyHeight"
    [rankOrdersByProject]="board.issueTable.issueRanksByProject"
    (updateParallelTask)="onUpdateParallelTask($event)"
    appScrollListener
    [scrollLeftObserver]="scrollLeftObserver$"
  >
  </app-rank-view-container>
</div>
