<div class="rank-line">
  <div class="rank-issue">
    <app-board-issue
      [issue]="rankEntry.issue"
      [viewMode]="rankViewMode"
      [issueDetailState]="issueDetailState"
      [rankOrder]="rankOrder"
      [totalProjectIssues]="totalProjectIssues"
      (updateParallelTask)="onUpdateParallelTask($event)"
    ></app-board-issue>
  </div>
  <div *ngFor="let unused of statesDummyArray ; let i = index" class="cell">
    <div [class]="rankEntry.issue.matchesSearch ? 'inner-cell' : 'inner-cell-grey'">
      <div *ngIf="rankEntry.boardIndex === i"  [class]="rankEntry.issue.matchesSearch ? 'selected-cell' : 'selected-cell-grey'"></div>
    </div>
  </div>
</div>
