@import "../../../../styles";

.filter-panel-header {
  display: flex;
  width: 100%;
}
.cancel-button {
  @include sized-icon-button-class(18px, 18px, 18px);
}
.mat-h4 {
  margin-bottom: 0px;
}
.mat-card {
  padding-top: 18px;
  padding-bottom: 12px;
}
.card-header {
  /*margin: -8px;*/
}
