<div>
  <mat-card>
    <mat-card-title>General</mat-card-title>
      <mat-card-content>
      <div [formGroup]="swimlaneForm" #f="ngForm">
        <div>
          Current {{userSettings.boardCode}} View:
          <a
            href="Toggle View"
            (click)="onSwitchViewMode($event)"
            mat-raised-button
            color="primary"
          >
            <span *ngIf="userSettings.viewMode === enumViewMode.KANBAN">Rank</span>
            <span *ngIf="userSettings.viewMode === enumViewMode.RANK">Kanban</span>
          </a>
        </div>
        <mat-form-field>
          <mat-select formControlName="swimlane" placeholder="Swimlane">
            <!-- Don't set a value for the undefined one -->
            <mat-option></mat-option>
            <mat-option *ngFor="let sl of swimlaneList" value="{{sl.key}}">{{sl.display}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <a *ngIf="userSettings.swimlane"
            href="Toggle Empty"
            (click)="onShowEmptySwimlanes($event)"
            mat-raised-button
            color="primary">
            <span *ngIf="userSettings.swimlaneShowEmpty">Hide Empty</span>
            <span *ngIf="!userSettings.swimlaneShowEmpty">Show Empty</span>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Filters</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let entry of filterList"
        (opened)="onOpenFilterPane(entry)"
        (closed)="onCloseFilterPanel(entry)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="filter-panel-header">
              <div style="flex-grow: 1">
                {{entry.display}}
              </div>
              <div *ngIf="getSelectionTooltip(entry).length > 0">
                <a
                  mat-icon-button
                  color="accent"
                  class="cancel-button"
                  matTooltip="{{getSelectionTooltip(entry)}}"
                  [matTooltipClass]="'card-tooltip'"
                  (click)="onClearFilter(entry)"
                >
                  <mat-icon class="cancel-button">cancel</mat-icon>
                </a>
                <!-- class="cancel-button" -->
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- TODO investigate pulling this into a separate component -->
        <div *ngIf="filtersToDisplay === entry">
          <div [formGroup]="filterForm" #f="ngForm">
            <div formGroupName="{{filtersToDisplay.key}}">
              <div *ngFor="let entry of currentFilterEntries">
                <div *ngIf="!entry.children; else parallelTasksForm">
                  <mat-checkbox formControlName="{{entry.key}}">{{entry.display}}</mat-checkbox>
                </div>
                <ng-template #parallelTasksForm>
                  <div formGroupName="{{entry.key}}">
                    <div class="mat-h4">{{entry.display}}</div>
                    <div *ngFor="let childEntry of entry.children">
                      <mat-checkbox formControlName="{{childEntry.key}}">{{childEntry.display}}</mat-checkbox>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
