<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title><div class="mat-h4 card-header">General</div></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="viewModeForm" #f="ngForm">
        <mat-form-field>
          <mat-select formControlName="viewMode" placeholder="View mode">
            <mat-option value="kanban">Kanban</mat-option>
            <mat-option value="rank">Rank</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div [formGroup]="swimlaneForm" #f="ngForm" *ngIf="userSettings.viewMode === enumViewMode.KANBAN">
        <mat-form-field>
          <mat-select formControlName="swimlane" placeholder="Swimlane">
            <!-- Don't set a value for the undefined one -->
            <mat-option></mat-option>
            <mat-option *ngFor="let sl of swimlaneList" value="{{sl.key}}">{{sl.display}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <a *ngIf="userSettings.swimlane"
            href="Toggle Empty"
            (click)="onShowEmptySwimlanes($event)"
            mat-raised-button
            color="primary">
            <span *ngIf="userSettings.swimlaneShowEmpty">Hide Empty</span>
            <span *ngIf="!userSettings.swimlaneShowEmpty">Show Empty</span>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title><div class="mat-h4 card-header">Issue Details</div></mat-card-title>
    </mat-card-header>
    <mat-accordion>
      <mat-card-content>
        <div>
          <mat-slider
            color="primary"
            [min]="0"
            [max]="3"
            [value]="userSettings.issueDetail.issueSummaryLevel"
            (change)="onIssueDetailsChange($event)">
            <mat-hint>Summary level</mat-hint>
          </mat-slider>
        </div>
        <div *ngIf="hasParallelTasks">
          <mat-checkbox
            [checked]="userSettings.issueDetail.parallelTasks"
            color="primary"
            (change)="onChangeShowParallelTasks($event)">Parallel Tasks</mat-checkbox>
        </div>
        <div *ngIf="hasLinkedIssues">
          <mat-checkbox
            [checked]="userSettings.issueDetail.linkedIssues"
            color="primary"
            (change)="onChangeShowLinkedIssues($event)">Linked Issues</mat-checkbox>
        </div>
      </mat-card-content>
    </mat-accordion>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title><div class="mat-h4 card-header">Filters</div></mat-card-title>
    </mat-card-header>
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let entry of filterList"
        (opened)="onOpenFilterPane(entry)"
        (closed)="onCloseFilterPanel(entry)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="filter-panel-header">
              <div
                style="flex-grow: 1"
                matTooltip="{{filtersToDisplay === entry ? '' : getSelectionTooltip(entry)}}"
                [matTooltipClass]="'card-tooltip'">
                <span>
                  {{entry.display}}
                </span>
              </div>
              <div *ngIf="getSelectionTooltip(entry).length > 0 && filtersToDisplay !== entry">
                <a
                  mat-icon-button
                  color="accent"
                  class="filter-toolbar-button"
                  (click)="onClearFilter($event, entry)"
                  matTooltip="Clear all"
                >
                  <mat-icon class="filter-toolbar-button">cancel</mat-icon>
                </a>
                <!-- class="cancel-button" -->
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- TODO investigate pulling this into a separate component -->
        <div *ngIf="filtersToDisplay === entry">

          <div style="display: flex">
            <div class="space-filler"></div>
            <div class="filter-toolbar-button">
              <a
                mat-icon-button
                color="accent"
                class="filter-toolbar-button"
                (click)="onInvertFilter(entry)"
                matTooltip="Invert selection"
              >
                <mat-icon class="filter-toolbar-button">invert_colors</mat-icon>
              </a>
            </div>
            <div class="filter-toolbar-padding">
            <a
              mat-icon-button
              color="accent"
              class="filter-toolbar-button"
              (click)="onSelectAllFilter(entry)"
              matTooltip="Select all"
            >
              <mat-icon class="filter-toolbar-button">select_all</mat-icon>
            </a>
            </div>
            <div class="filter-toolbar-padding">
            <a
              mat-icon-button
              color="accent"
              class="filter-toolbar-button"
              (click)="onClearFilter($event, entry)"
              matTooltip="Clear all"
            >
              <mat-icon class="filter-toolbar-button">cancel</mat-icon>
            </a>
            </div>
            <!-- class="cancel-button" -->
          </div>

          <div [formGroup]="filterForm" #f="ngForm">
            <!-- Only do this for long lists and NOT for the parallel tasks -->
            <mat-form-field *ngIf="filtersToDisplay.key != 'Parallel Tasks' && currentFilterEntries.length > 5">
              <input
                matInput
                [placeholder]="'Filter options'"
                [(ngModel)]="filterSearch"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <div formGroupName="{{filtersToDisplay.key}}">
              <div *ngFor="let entry of currentFilterEntries | formEntryFilter: filterSearch">
                <div *ngIf="!entry.children; else parallelTasksForm">
                  <mat-checkbox formControlName="{{entry.key}}">{{entry.display}}</mat-checkbox>
                </div>
                <ng-template #parallelTasksForm>
                  <div formGroupName="{{entry.key}}">
                    <div class="mat-h4">{{entry.display}}</div>
                    <!-- WebStorm incorrectly picks this out as an error -->
                    <div *ngFor="let childEntry of entry.children">
                      <mat-checkbox formControlName="{{childEntry.key}}">{{childEntry.display}}</mat-checkbox>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
