<div *ngIf="header.visible" class="column visible">
  <div *ngIf="displayIssues">
    <div [style.height.px]="beforePadding" [ngClass]="backgroundPaddingClass"></div>
    <!-- trackBy is a hint to angular to be able to keep (i.e. don't destroy and recreate) as many components as possible -->
    <app-board-issue
      *ngFor="let issue of visibleIssues ; trackBy: issueTrackByFn "
      [issue]="issue"
      [issueDetailState]="issueDetailState"
      [rankOrder]="getRankOrder(issue)"
      [totalProjectIssues]="getTotalIssuesForProject(issue)"
      (updateParallelTask)="onUpdateParallelTask($event)"
    ></app-board-issue>
    <div [style.height.px]="afterPadding" [ngClass]="backgroundPaddingClass"></div>
  </div>
</div>
<div *ngIf="!header.visible" class="column invisible">
</div>
