@import "../../../board-styles";
:host {
  display: flex;
}
.column {
  display: flex;
}
.visible {

}
.hidden-backlog {
  min-width: $invisible-header-width;
  max-width: $invisible-header-width;
  border-left: $header-border-side;
  border-right: $header-border-side;
}
