<!-- trackBy is a hint to angular to be able to keep (i.e. don't destroy and recreate) as many components as possible -->

<div *ngIf="groupType === visible_bl_or_normal_state" class="column">
  <app-kanban-view-column
    [header]="header"
    [issues]="table.get(header.stateIndices.get(0))"
    [boardBodyHeight]="boardBodyHeight"
    [topOffsetObserver]="topOffsetObserver"
    [displayIssues]="displayIssues"
    [issueDetailState]="issueDetailState"
    (updateParallelTask)="onUpdateParallelTask($event)"
  ></app-kanban-view-column>
</div>
<div *ngIf="groupType === visible_bl_or_normal_category" class="column">
  <app-kanban-view-column
    *ngFor="let header of header.states ; trackBy: headerStateTrackByFn"
    [header]="header"
    [issues]="table.get(header.stateIndices.get(0))"
    [boardBodyHeight]="boardBodyHeight"
    [topOffsetObserver]="topOffsetObserver"
    [displayIssues]="displayIssues"
    [issueDetailState]="issueDetailState"
    (updateParallelTask)="onUpdateParallelTask($event)"
  ></app-kanban-view-column>
</div>
<div *ngIf="groupType === invisible_bl" class="column hidden-backlog">
</div>



