<div id="control-panel">
  <!-- Don't use a table once we have a real UI -->
  <table style="font-size: 12px;">
    <tr>
      <td>
        <div>Select Filter</div>
        <div *ngFor="let entry of filterList" [class.selected]="filtersToDisplay === entry">
          <a href="Filter {{entry.display}}"
             (click)="onSelectFiltersToDisplay($event, entry)">{{entry.display}}</a>
        </div>
      </td>
      <td style="vertical-align: top">
        <div *ngIf="!filtersToDisplay">
          <div>Select A Filter</div>
          <div>
            <div>No Filter has been selected.</div>
            <div>Select a filter from the Filters column to view/edit filters for that category.</div>
          </div>
        </div>
        <div *ngIf="filtersToDisplay">
          <div>{{filtersToDisplay.display}} Filter</div>
          <div [formGroup]="filterForm" #f="ngForm">
            <div formGroupName="{{filtersToDisplay.key}}">
              <div *ngFor="let entry of currentFilterEntries">
                <input type="checkbox" formControlName="{{entry.key}}" id="{{filtersToDisplay.key}}-{{entry.key}}"/>
                <label [attr.for]="'filtersToDisplay.key-' + entry.key">{{entry.display}}</label>
              </div>
            </div>
          </div>
        </div>

      </td>
    </tr>
  </table>
</div>
