#control-panel {
  width: 400px;
  height: 200px;
  z-index: 9;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #f9f9f9;
  border: solid black 1px;
}

.selected {
  background-color: gray;
}
