<div id="control-panel">
  <!-- Don't use a table once we have a real UI -->
  <table style="font-size: 12px;">
    <tr>
      <td>
        <div [formGroup]="swimlaneForm" #f="ngForm">
          <select formControlName="swimlane">
            <!-- Don't set a value for the undefined one -->
            <option></option>
            <option *ngFor="let sl of swimlaneList" value="{{sl.key}}">{{sl.display}}</option>
          </select>
          <div *ngIf="userSettings.swimlane">
            <span *ngIf="userSettings.swimlaneShowEmpty"><a href="hide" (click)="onShowEmptySwimlanes($event)">Hide Empty</a></span>
            <span *ngIf="!userSettings.swimlaneShowEmpty"><a href="hide" (click)="onShowEmptySwimlanes($event)">Show Empty</a></span>
          </div>
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <div>Select Filter</div>
        <div *ngFor="let entry of filterList" [class.selected]="filtersToDisplay === entry">
          <a href="Filter {{entry.display}}"
             (click)="onSelectFiltersToDisplay($event, entry)">{{entry.display}}</a>
        </div>
      </td>
      <td style="vertical-align: top">
        <div *ngIf="!filtersToDisplay">
          <div>Select A Filter</div>
          <div>
            <div>No Filter has been selected.</div>
            <div>Select a filter from the Filters column to view/edit filters for that category.</div>
          </div>
        </div>
        <div *ngIf="filtersToDisplay">
          <div>{{filtersToDisplay.display}} Filter</div>
          <div [formGroup]="filterForm" #f="ngForm">
            <div formGroupName="{{filtersToDisplay.key}}">
              <div *ngFor="let entry of currentFilterEntries">
                <div *ngIf="!entry.children; else parallelTasksForm">
                  <input type="checkbox" formControlName="{{entry.key}}" id="{{filtersToDisplay.key}}-{{entry.key}}"/>
                  <label [attr.for]="filtersToDisplay.key + '-' + entry.key">{{entry.display}}</label>
                </div>
                <ng-template #parallelTasksForm>
                  <div formGroupName="{{entry.key}}">
                    <div>{{entry.display}}</div>
                    <div *ngFor="let childEntry of entry.children">
                      <input type="checkbox" formControlName="{{childEntry.key}}" id="pt-{{filtersToDisplay.key}}-{{childEntry.key}}"/>
                      <label [attr.for]="'pt' + filtersToDisplay.key + '-' + childEntry.key">{{childEntry.display}}</label>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

      </td>
    </tr>
  </table>
</div>
