@import "../../../../../styles";
@import "../../board-styles";
:host {
  display: flex;
  flex-grow: 1;
}
.header-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  background-color: $accent-colour;
  color: white;
  border-left: $header-border-side;
  border-right: $header-border-side;
  border-bottom: $header-border-bottom;
  text-align: center;
  cursor: pointer;
}
.header-content-empty {
  @extend .header-content;
  border-bottom: $header-empty-border-bottom;
}
.header-content:hover {
  background-color: #F0F0F0;
}

.state {
  display: flex;
}
.visible {
  min-width: $visible-header-width;
  max-width: $visible-header-width;
}
.invisible {
  min-width: $invisible-header-width;
  max-width: $invisible-header-width;
}
.rank {
  min-width: $invisible-header-width;
  max-width: $invisible-header-width;
}
