@import "../../board-styles";

.header-group {
  height: 100%;
}
.header-line {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 50%;
}
.rank-backlog {
  min-width: $invisible-header-width;
  max-width: $invisible-header-width;
}
