@import "../../board-styles";
.headers-container {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: $header-container-height;
  max-height: $header-container-height;
}
.rank-issues-header {
  padding: 0px;
  min-width: 250px;
  max-width: 250px;
  border-bottom: 1px black solid;
}
