@import "../../board-styles";

.header-group {
  height: 100%;
  border-left: $header-border-side;
  border-right: $header-border-side;
  text-align: center;
  cursor: pointer;
}
.header-line {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 50%;
}
.rank-backlog {
  min-width: $invisible-header-width;
  max-width: $invisible-header-width;
}
.normal-colour {
  background-color: white;
  color: $primary-colour;
}
.hover-colour {
  background-color: $header-colour;
  color: white;
}
.hover-colour-backlog {
  @extend .hover-colour;
  background-color: $header-colour-backlog;
}


