<div
  *ngIf="viewMode === enumViewMode.KANBAN"
  [ngClass]="classObj"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)"
  matTooltip="{{tooltip}}"
  [matTooltipClass]="'card-tooltip'"
  [matTooltipShowDelay]="800"
>
  <div *ngIf="header.visible" class="padded-sizes">
    <div class="nowrap-hidden">{{header.name}}</div>
    <div class="mat-caption" [class.exceeded-wip]="exceededWip">
      {{header.visibleIssues}}/{{header.totalIssues}}
    </div>
  </div>
  <div *ngIf="!header.visible">
    <div>{{header.abbreviation}}</div>
    <div class="mat-caption" [class.exceeded-wip]="exceededWip">
      <span *ngIf="!(header.backlog && header.category) ; else hideIssueCount">{{header.visibleIssues}}</span>
      <ng-template #hideIssueCount>&nbsp;</ng-template>
    </div>
  </div>
</div>
<div
  *ngIf="viewMode === enumViewMode.RANK"
  class="header-content"
  [ngClass]="classObj"
  matTooltip="{{tooltip}}"
  [matTooltipClass]="'card-tooltip'"
  [matTooltipShowDelay]="800"
>
  <div >{{header.abbreviation}}</div>
  <div class="mat-caption" [class.exceeded-wip]="exceededWip">{{header.visibleIssues}}</div>
</div>
