.headers-container {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100px;
  max-height: 100px;
}
.rank-issues-header {
  padding: 0px;
  min-width: 250px;
  max-width: 250px;
  border: 1px black solid;
}
