@import "../../board-styles";
.headers-container {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: $header-container-height;
  max-height: $header-container-height;
}
.rank-issues-header {
  padding-left: $rank-issue-padding-left;
  min-width: $rank-issue-width;
  max-width: $rank-issue-width;
  border-left: $header-border-side;
  border-right: $header-border-side;
  border-bottom: 1px black solid;
}
