<div
  *ngIf="viewMode === enumViewMode.KANBAN"
  [ngClass]="classObj"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)">
  <div *ngIf="header.visible">
    <div>{{header.name}}</div>
    <div class="mat-caption">{{header.visibleIssues}}/{{header.totalIssues}}</div>
  </div>
  <div *ngIf="!header.visible">
    <div>{{header.abbreviation}}</div>
    <div class="mat-caption">{{header.visibleIssues}}</div>
  </div>
</div>
<div class="header-content" *ngIf="viewMode === enumViewMode.RANK" [ngClass]="classObj">
  <div >{{header.abbreviation}}</div>
  <div>{{header.visibleIssues}}</div>
</div>
