<div class="header-group" [ngClass]="classList">
  <div class="header-line">
    <app-board-header-content
      [header]="header"
      [viewMode]="viewMode"
      (click)="onToggleVisibility(header)"
    ></app-board-header-content>
  </div>
  <div
    *ngIf="showStates"
    class="header-line">
    <app-board-header-content
      *ngFor="let stateHeader of header.states"
      [header]="stateHeader"
      [viewMode]="viewMode"
      (click)="onToggleVisibility(stateHeader)"
    ></app-board-header-content>
  </div>

</div>
