<div class="header-group">
  <div class="header-line">
    <!--
      If this is not a category for which we should show states, we want to align the state header content
      in the bottom section. So pass in an empty header and viewMode for those cases
    -->
    <app-board-header-content
      [header]="showStates ? header : null"
      [viewMode]="showStates ? viewMode : null"
      (click)="onToggleVisibility(header)"
    ></app-board-header-content>
  </div>
  <div
    *ngIf="showStates ; else stateOnlyHeader"
    class="header-line">
    <app-board-header-content
      *ngFor="let stateHeader of header.states"
      [header]="stateHeader"
      [viewMode]="viewMode"
      (click)="onToggleVisibility(stateHeader)"
    ></app-board-header-content>
  </div>
  <ng-template #stateOnlyHeader>
    <div class="header-line">
      <!--
        If we were the backlog with just one state, use that state here
      -->
      <app-board-header-content
        [header]="header.backlog ? header.states.get(0) : header"
        [viewMode]="viewMode"
        (click)="onToggleVisibility(header)"
      ></app-board-header-content>
    </div>
  </ng-template>
</div>

