@import "../../../../../styles";
@import "../../board-styles";
:host {
  display: flex;
  flex-grow: 1;
}
.header-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  border-bottom: $header-border-bottom;
}
.header-content-empty {
  @extend .header-content;
  border-bottom: $header-empty-border-bottom;
}
.normal-colour {
  background-color: $accent-colour;
  color: white;
  border-bottom: $header-border-bottom;
}
.hover-colour {
  background-color: white;
  color: black;
  border-bottom: $header-border-bottom;
}
.left-border {
  border-left: $header-border-side;
}
.right-border {
  border-right: $header-border-side;
}
.visible {
  min-width: $visible-header-width;
  max-width: $visible-header-width;
}
.invisible {
  min-width: $invisible-header-width;
  max-width: $invisible-header-width;
}
.rank {
  min-width: $invisible-header-width;
  max-width: $invisible-header-width;
}
