
$primary-colour: #1d679c!important;
$accent-colour: #ff4080!important;
$primary-colour-light: #3d96cb!important;
$accent-colour-light: ff6498!important;
$white-text: #FFF!important;
$black-text: rgba(0,0,0,.87)!important;

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}


a:not(.mdl-navigation__link) {
    color: $accent-colour;
}
.mdl-layout__header {
    background-color: $primary-colour;
}
.side-drawer-logo-container {
  min-height: 40px;
  max-height: 40px;
  padding-left: 59px;
  padding-top: 6px;
  padding-bottom: 2px;
}
.large-logo {
    display: flex;
    justify-content: center;
/*    width: 100%;*/
}
.component-header {
  margin-top: 0px;
  background-color: $primary-colour;
  color: $white-text;
  font-size: 25px;
  padding-left: 25px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.component-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 600px;
}
.highlight {
  color: $primary-colour;
}

.logo-toolbar-container {
   margin-top: 13px;
   margin-bottom: 19px;
}