
$primary-colour: #3F51B5!important;
$accent-colour: #FF4081!important;
$primary-colour-light: #757de8!important;
$accent-colour-light: ff79b0!important;
$white-text: #FFF!important;
$black-text: rgba(0,0,0,.87)!important;

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}

/* Styling of the general components */
.component-header {
  margin-top: 0px;
  background-color: $primary-colour;
  color: $white-text;
  font-size: 25px;
  padding-left: 25px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.component-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 600px;
}
.highlight {
  color: $accent-colour;
}

