@import '../kanban-view.component';

#table-header {
  position: relative;
  width: 100%;
}
td.header {
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
td.header:hover {
  background-color: #F0F0F0;
}

