<!-- board.edit is whether the user has the edit permission -->
<div>
  <form (ngSubmit)="onSaveBoard()" [formGroup]="editForm" #f="ngForm">
    <mat-form-field class="almost_full-width">
      <textarea
        matInput
        matTextareaAutosize
        matAutosizeMinRows="5"
        matAutosizeMaxRows="25"
        name="editJson"
        formControlName="editJson"
        (keyup)="clearJsonErrors()">
      </textarea>
    </mat-form-field>
    <div *ngIf="jsonError">
      <mat-error>{{jsonError}}</mat-error>
    </div>
    <div *ngIf="canEdit && !deleting">
      <a
        href="delete"
        (click)="onToggleDelete($event)"
        mat-raised-button
        color="warn"
      >Delete</a>
      <button
        type="submit"
        [disabled]="!f.form.valid"
        mat-raised-button
        color="primary"
      >Save</button>
    </div>
  </form>
</div>
<div *ngIf="deleting">
  <form (ngSubmit)="onDeleteBoard()" [formGroup]="deleteForm" #f="ngForm">
    <div>
      <label>Type in the 'name' field of the board to delete it <b>permanently</b>:</label>
      <mat-form-field>
        <input
          matInput
          formControlName="boardName">
      </mat-form-field>

    </div>
    <div>
      <a
        href="cancel"
        mat-raised-button
        color="accent"
        (click)="onToggleDelete($event)"
      >Cancel</a>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!f.form.valid"
      >Delete</button>
    </div>
  </form>
</div>
