<div class="component-header">
  <div class="mat-h1">
    Configuration
  </div>
</div>
<div class="component-body">
  <span>
    This is a list of the boards configured in your Overbård instance.
  </span>
  <div class="mat-h2">Boards</div>
  <div>
    Select a board to update its config. For boards where you have the 'administer project' permission for the
    main projects, you can edit and delete boards.
  </div>
  <div *ngIf="(config$ | async).boards.size === 0 ; else showBoards">
    No boards are configured yet. Add some below.
  </div>
  <ng-template #showBoards>
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let board of (config$ | async).boards.values()"
        (opened)="onOpenBoardForEdit(board['id'])"
        (closed)="onCloseBoardForEdit(board['id'])">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{board['name']}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-board-configuration
          *ngIf="board['id'] === selected"
          [configJson]="selectedBoardJson$ | async"
          [canEdit]="board['edit']"
          [boardName]="board['name']"
          [jsonError]="editError"
          (deleteBoard)="onDeleteBoard($event)"
          (saveBoard)="onSaveEditedBoard($event)"
          (clearJsonError)="onClearEditJsonError($event)"
        ></app-board-configuration>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
  <hr/>
  <div>
    <div class="mat-h2">Create a new board</div>
    <form (ngSubmit)="onSaveCreatedBoard()" [formGroup]="createForm" #f="ngForm">
      <mat-form-field class="almost_full-width">
        <textarea
          matInput
          matTextareaAutosize
          matAutosizeMinRows="5"
          matAutosizeMaxRows="25"
          name="createJson"
          formControlName="createJson"
          (keyup)="clearSaveJsonErrors()"
          placeholder="Enter json config for board"
        >
        </textarea>
      </mat-form-field>

      <div *ngIf="createError">
        <mat-error>{{createError}}</mat-error>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!f.form.valid"
          mat-raised-button
          color="primary"
        >Save</button>
      </div>
    </form>
  </div>
  <div *ngIf="(config$ | async).canEditRankCustomFieldId">
    <hr/>
    <div class="mat-h2">Rank custom field id</div>
    <div>Enter the custom field id for Jira Agile's 'Rank' attribute:</div>
    <div>
      <form (ngSubmit)="onSaveCustomFieldId()" [formGroup]="rankCustomFieldIdForm" #f="ngForm">
        <div>
          <mat-form-field>
            <input
              matInput
              required="required"
              type="number"
              formControlName="rankCustomFieldId"/>
          </mat-form-field>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!f.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

