<app-board-headers-container
  [headers]="board.headers"
  [boardLeftOffset]="boardLeftOffset"
  [viewMode]="viewMode"
  (toggleColumnVisibility)="onToggleVisibility($event)"
  (toggleBacklog)="onToggleBacklog($event)"
>
</app-board-headers-container>
<div id="board-body" [style.height]="boardBodyHeight">
  <app-kanban-normal-view
    *ngIf="!board.issueTable.swimlaneInfo"
    [board]="board"
    (scroll)="onScrollBoardX($event)"
    (updateParallelTask)="onUpdateParallelTask($event)"
  ></app-kanban-normal-view>
  <app-kanban-swimlane-view
    *ngIf="board.issueTable.swimlaneInfo"
    [board]="board"
    [headerTextOffset]="boardLeftOffset * -1"
    (scroll)="onScrollBoardX($event)"
    (toggleCollapsedSwimlane)="onToggleCollapsedSwimlane($event)"
    (updateParallelTask)="onUpdateParallelTask($event)"
  ></app-kanban-swimlane-view>
</div>
