<app-board-headers-container
  [headers]="board.headers"
  [boardLeftOffset]="boardLeftOffset"
  [viewMode]="viewMode"
  (toggleColumnVisibility)="onToggleVisibility($event)"
  (toggleBacklog)="onToggleBacklog($event)"
>
</app-board-headers-container>
<div id="board-body"
     [style.height.px]="boardBodyHeight"
     appScrollListener
     [scrollTopObserver]="scrollTopObserver$">
  <app-kanban-normal-view
    *ngIf="!board.issueTable.swimlaneInfo"
    [board]="board"
    (updateParallelTask)="onUpdateParallelTask($event)"
    [scrollPositionObserver$]="scrollPositionObserver$"
    appScrollListener
    [scrollLeftObserver]="scrollLeftObserver$"
  ></app-kanban-normal-view>
  <app-kanban-swimlane-view
    *ngIf="board.issueTable.swimlaneInfo"
    [headers]="board.headers"
    [swimlaneInfo]="board.issueTable.swimlaneInfo"
    [issueDetailState]="board.issueDetail"
    [headerTextOffset]="boardLeftOffset * -1"
    (toggleCollapsedSwimlane)="onToggleCollapsedSwimlane($event)"
    (updateParallelTask)="onUpdateParallelTask($event)"
    [scrollPositionObserver$]="scrollPositionObserver$"
    appScrollListener
    [scrollLeftObserver]="scrollLeftObserver$"
  ></app-kanban-swimlane-view>
</div>
