<mat-card *ngIf="issue.visible">
  <mat-card-title class="issue">
    <div class="title-container" [ngStyle]="{'background-color': issue.projectColour}">
      <span class="mat-h4">{{issue.key}}</span>
      <span class="space-filler"></span>
      <span class="mat-h4">{{issue.assignee.initials}}</span>
      <span class="mat-h4">
        <button mat-icon-button class="menu-icon-button">
          <mat-icon class="menu-icon">more_vert</mat-icon>
        </button>
      </span>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="mat-caption">{{issue.summary}}</div>

    <!-- TODO avatar -->
  </mat-card-content>
</mat-card>
<!--
<div *ngIf="issue.visible" class="issue">
  <div>{{issue.visible}}</div>
  <div>{{issue.key}}</div>
  <div>{{issue.summary}}</div>
  <div>Priortity: {{issue.priority.name}}</div>
  <div>Type: {{issue.type.name}}</div>
  <div>
    Assignee:
    <span *ngIf="issue.assignee !== noAssignee; else emptyAssignee">{{issue.assignee.name}}</span>
    <ng-template #emptyAssignee>-</ng-template>
  </div>
</div>-->
