<mat-card *ngIf="issue.visible">
  <mat-card-title class="issue" (mouseenter)="calculateTooltips()">
    <div class="title-container">
      <span class="title-container"
            matTooltip="{{cardTooltip}}"
            [matTooltipClass]="'card-tooltip'"
            [matTooltipShowDelay]="500"
      >
        <span class="mat-h4">
          <a href="{{issue.issueUrl}}"
             target="_blank"
             class="issue-link"
             >{{issue.key}}</a></span>
        <span class="space-filler"></span>
      </span>
      <span class="mat-h4" matTooltip="{{issue.assignee.name}}">{{issue.assignee.initials}}</span>
      <span class="mat-h4">
        <button mat-icon-button class="menu-icon-button">
          <mat-icon class="menu-icon">more_vert</mat-icon>
        </button>
      </span>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="info-colours">
      <div class="project-colour"
           [ngStyle]="{'border-bottom-color': issue.projectColour}"
           matTooltip="Project: {{issue.projectCode}}"></div>
      <div class="colour-splitter"></div>
      <div class="colour"
           [ngStyle]="{'border-bottom-color': issue.priority.colour}"
            matTooltip="Priority: {{issue.priority.name}}"></div>
      <div class="colour-splitter"></div>
      <div class="colour"
           [ngStyle]="{'border-bottom-color': issue.type.colour}"
            matTooltip="Issue Type: {{issue.type.name}}"></div>
    </div>
    <div class="mat-caption">
      <div class="full-summary">
        <div class="avatar-container" matTooltip="{{issue.assignee.name}}">
          <img
            *ngIf="issue.assignee.avatar"
            class="avatar"
            src="{{issue.assignee.avatar}}">
          <mat-icon
            *ngIf="!issue.assignee.avatar"
            class="avatar-icon">person_outline</mat-icon>
        </div>
        {{issue.summary}}
      </div>
    </div>
    <div *ngIf="issue.selectedParallelTasks" class="parallel-tasks-container">
      <div
        *ngFor="let pt of issue.parallelTasks ; let i = index"
        class="parallel-task-entry"
        matTooltip="{{pt.name}}: {{pt.display}}"
        [matTooltipClass]="'card-tooltip'"
        [ngStyle]="{'border-color': getSelectedParallelTaskColour(i)}">{{pt.display}}</div>
    </div>
  </mat-card-content>
</mat-card>
