<mat-card *ngIf="issue.visible">
  <mat-card-title class="issue" style="">
    <div class="title-container">
      <div class="mat-h4 issue-key">{{issue.key}}</div>
      <div class="mat-h4 initials"><span>{{issue.assignee.initials}}</span></div>
    </div>
  </mat-card-title>
  <mat-card-content>
    {{issue.summary}}
    <!-- TODO avatar -->
  </mat-card-content>
</mat-card>
<!--
<div *ngIf="issue.visible" class="issue">
  <div>{{issue.visible}}</div>
  <div>{{issue.key}}</div>
  <div>{{issue.summary}}</div>
  <div>Priortity: {{issue.priority.name}}</div>
  <div>Type: {{issue.type.name}}</div>
  <div>
    Assignee:
    <span *ngIf="issue.assignee !== noAssignee; else emptyAssignee">{{issue.assignee.name}}</span>
    <ng-template #emptyAssignee>-</ng-template>
  </div>
</div>-->
