.issue {
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
  border-radius: 3px;
  float: left;
  vertical-align: top;
  width: 100%;
  font-size: 11px;
  margin: 3px;
  clear: left;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;
}
