@import "../../../../styles";

.mat-card {
  min-width: 186px;
  max-width: 186px;
  margin: 0px 0px 10px;
  padding: 3px;
}
.mat-card-title {
  margin-bottom: 0px;
}
.mat-h4 {
  margin-bottom: 0px;
}
.title-container {
  display: flex;
  flex-grow: 1;
}
.issue-link {
  color: $black-text;
  text-decoration: none;
}
.issue-link:hover {
  text-decoration: underline;
}
/* The line, height and so */
.menu-icon-base {
  @include sized-icon-button-class(24px, 15px, 24px)
}

.mat-icon-button.menu-icon-button {
  @extend .menu-icon-base;
}
.mat-icon.menu-icon {
  @extend .menu-icon-base
}
.info-colours {
  display: flex;

}
.priority-type {
  display: flex;
}
.colour {
  flex-grow: 1;
  border-bottom: 4px solid black;
}
.colour-splitter{
  min-width: 3px;
  max-width: 3px;
  border-bottom: 4px solid white;
}
.project-colour {
  @extend .colour;
  flex-grow: 2;
}
.avatar-container {
  padding-top: 2px;
  float: right;
}
img.avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
}
.avatar-icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
}
.summary {
  word-wrap:break-word;
}
.avatar-summary {
  min-height: 40px;
}
.short-summary {
  max-height: 40px;
  overflow: hidden;
}
.extra-info-base {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.parallel-tasks-container {
  @extend .extra-info-base;
}
.linked-issues-container {
  @extend .extra-info-base;
}
.mat-button-ripple {
}

/**
This needs styling in the global styles.scss as mentioned in
https://github.com/angular/material2/issues/8316#issuecomment-342987304
This feels safer than using ViewEncapsulation.NONE
.card-tooltip {
}
 */
