@import "../../../../styles";

.mat-card {
  min-width: 190px;
  max-width: 190px;
  margin: 0px 0px 5px;
  padding: 3px;
}
.mat-card-title {
  margin-bottom: 0px;
}
.mat-h4 {
  margin-bottom: 0px;
}
.title-container {
  display: flex;
  padding: 1px;
}
.space-filler {
  flex-grow: 1;
}
/* The line, height and so */
.menu-icon-base {
  min-width: 12px;
  max-width: 12px;
  height: 24px;
  line-height: 24px;
  min-height: 24px;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.mat-icon-button.menu-icon-button {
  @extend .menu-icon-base;
}
.mat-icon.menu-icon {
  @extend .menu-icon-base
}
/*.issue {
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
  border-radius: 3px;
  vertical-align: top;
  font-size: 11px;
  margin: 3px;
  clear: left;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;
}*/
