@import "../../../../styles";
.linked-issue-entry {
  font-kerning: none;
  border-bottom: 3px solid;
  /*border-right: 3px solid;*/
  margin-right: 5px;
  font-size: 12px;
}
a {
  color: $black-text;
  text-decoration: none;
}
